*{
    font-family:Verdana, serif;
}
p{
    font-size:20px;
    text-align:center;
}
a{
        text-decoration:none;
        color:black;
}
body{
    background-image: url("resources/background.jpg");
    font-family:Verdana, Serif;
    background-repeat: repeat-y;
}
div{
    background-color:#000099;
    margin-left:auto;
    margin-right:auto;
}
#background{
    width: 800px;
    background-image: url("resources/construction-paper.jpg");   
}
#header{
    text-align:center;
    font-family: Verdana;
    font-size:30px;
    border-radius:20px;
    border:2px solid black;
    padding: 2px;
    background-color:#666699;
    width:300px;
}
#pic{
    height: 220px;
    width: 260px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    border:2px solid black;
}
#face{
    max-height: 220px;
    max-width:260px;
}
#about{
    background-color:#666699;
    width:280px;
    height:300px;
    border-radius:15px;
    border:2px solid black;
    padding-bottom:20px;
}
.filler{
    text-align:center;
    width:660px;
    padding-top:5px;
    padding-bottom:3px;
    border: 2px solid black;
}
#filler{
    border:2px solid black;
}
#contact{
    height:100px;
    width:140px;
    background-color:#666699;
    border-radius:15px;
    border:2px solid black;
    padding-left:10px;
    padding-right:10px;
    position:fixed;
    margin-left:1300px;
    font-size:12px;
}
.contact{
    display: inline-block;
    width:60px;
    background-color:#000099;
    font-weight: bold;
    font-size:10px;
    text-align:center;
    border: 2px white solid;
    margin-left:auto;
    margin-right:auto;
    padding: 1px;
}
#findMe{
    font-size:12px;
    font-weight:bold;
    text-align: center;
    background-color:#000099;
    display: block;
    padding:1px;
    border: 2px white solid;
    width:100px;
    margin-left:auto;
    margin-right:auto;
}